<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="body1">
    <table class="table1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Mobile No</th>
            <th>Email</th>
            <th>DOB</th>
            <th>Address</th>
            <th>District</th>
            <th>State</th>
            <th>Country</th>
            <th>Pin Code</th>
            <th>Qualification</th>
            <th>Matrital Status</th>
        </tr>
        <tr>
            <td>{{data.Name}}</td>
            <td>{{data.Age}}</td>
            <td>{{data.Mobile_no}}</td>
            <td>{{data.Email}}</td>
            <td>{{data.DOB}}</td>
            <td>{{data.Address}}</td>
            <td>{{data.District}}</td>
            <td>{{data.State}}</td>
            <td>{{data.Country}}</td>
            <td>{{data.Pincode}}</td>
            <td>{{data.Qualification}}</td>
            <td>{{data.Matrital_status}}</td>
        </tr>
    </table>
</body>
</html>